
#listejoueurs , #infojoueur, #palmares{
  border: 2px black solid;
}
#principale{
  display: flex;
  height: 30em;
}
#listejoueurs{
  flex: 1 1;


}
 #infojoueur{
   flex: 1 1;
 }

#palmares{
  height: 20em;
}
